<div class="row">
  <div class="col-md-12">
    {{category-label category=link.category color=link.categoryColor}}
    <span class="name">
      <a href="{{link.url}}" target="blank">
        {{link.shortName}}&nbsp;<span class="language small">({{link.language}})</span>
      </a>
    </span>

    {{yield}}
  </div>
</div>
<div class="row">
  <div class="shared-by col-md-12">
  Partagé par {{link.user}} {{timeAgo}}
  </div>
</div>

