<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4 col-md-4">
        {{category-label category=link.category color=link.categoryColor}}
      </div>
      <div class="col-xs-8 col-md-8 text-right">Partagé par {{link.user}}</div>
      <div class="col-xs-12 col-md-12">
        <a href="{{link.url}}" target="blank">
          <p class="name text-justify">
            {{link.name}}
          </p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="date col-md-12">
        {{formattedCreatedAt}}
      </div>
    </div>
  </div>
</div>

{{yield}}