<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel panel-default" style="color: #777">
      <div class="panel-body">
        <h1 style='font-weight: 200'>Créer et partager un lien</h1>
        <form {{action "create" on="submit"}}>
          <div class="form-group">
            <label style='font-weight: 200'>Description</label>
            {{textarea value=model.name class='form-control'}}
          </div>

          <div class="form-group">
            <label style='font-weight: 200'>URL / lien à partager</label>
            {{input value=model.url type="text" class='form-control'}}
          </div>

          <div class="form-group">
            <label style='font-weight: 200'>Langue</label>
            {{#power-select selected=language searchEnabled=false options=languages onchange=(action "updateLanguage") as |language|}}
              {{language}}
            {{/power-select}}
          </div>

          <div class="form-group">
            <label style='font-weight: 200'>Catégorie</label>
            {{#power-select selected=category searchEnabled=false options=categories onchange=(action "updateCategory") as |category|}}
              {{category}}
            {{/power-select}}
          </div>

          <button type="submit" class="btn btn-default">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>

