<section id="mailing-form" class="row">
  <form {{action "create" on="submit"}} {{bind-attr class="hasErrors"}}>
    <div class="col-xs-12 col-md-4 col-md-offset-4">

      <div class="alerts">
        {{#if hasErrors}}
          <ul class="alert alert-danger" role="alert">
            {{#each error in model.errors.messages}}
              <li>L'email {{error}}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if serverError}}
          <p class="errors alert alert-danger" role="alert">{{serverError}}</p>
        {{/if}}
      </div>

      <div class="notify-me">M'INFORMER DU LANCEMENT DE CHANGEONS</div>

      <div class="row inputs">
        <div class="col-xs-12 col-md-9 no-margin-padding sm md lg">
          {{input value=email id="email" placeholder="Entrez votre email" type="email"}}
        </div>
        <div class="col-xs-12 mobile-vertical-separator visible-xs"></div>
        <div class="col-xs-12 col-md-3 no-margin-padding sm md lg">
          <button id="btn-save-mailing-list-recipient" class="btn-block" {{action "create"}}>
            <span class="submit-text">
              {{#if isLoading}}
                <div id="form-loading">
                  <div id="blockG_1" class="form-loading-block">
                  </div>
                  <div id="blockG_2" class="form-loading-block">
                  </div>
                  <div id="blockG_3" class="form-loading-block">
                  </div>
                </div>
              {{/if}}
              Envoyer
            </span>
          </button>
        </div>
      </div>
      <div class="confidential">Vos données ne seront pas utilisées à des fins commerciales</div>
    </div>
    <div class="col-md-3 md-only"></div>
  </form>
</div>