<div class="container-fluid">
  <header class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <ul id="navigation-menu">
        <li id="logo">
          {{#link-to "shares"}}
            <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/logo-changeons-square.png">
          {{/link-to}}
        </li>
        <li>
          {{#link-to "shares"}}
            ACCUEIL
          {{/link-to}}
        </li>
        <li>
          {{#link-to "about"}}
            A PROPOS
          {{/link-to}}
        </li>
        <li>
          {{#link-to "contact"}}
            CONTACT
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-md-offset-3 text-center opening-lines">
      <h1>Partageons l'information sur&nbsp;le&nbsp;respect de&nbsp;l'environnement</h1>
      <h4>Changeons pour une société plus solidaire</h4>
    </div>
    {{header-menu currentCategory=currentCategory applicationController=controller}}
  </header>

  {{#if showFixedTopBar}}
    <div class="fixed-top-bar row">
      <div id="logo" class="col-sm-3 col-md-2 col-md-offset-2 hidden-xs">
        {{#link-to "shares"}}
          <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/logo-changeons-horizontal.png">
        {{/link-to}}
      </div>
      <div id="logo" class="col-xs-3 visible-xs-block">
        {{#link-to "shares"}}
          <img src="https://s3-eu-west-1.amazonaws.com/changeons-prod/assets/images/papillon.png">
        {{/link-to}}
      </div>
      <div class="col-xs-9 col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-4">
        {{category-menu currentCategory=currentCategory locatedInFixedTopBar=true}}
      </div>
    </div>
  {{/if}}

  {{#if showBackToTopButton}}
    {{back-to-top-button}}
  {{/if}}

  {{outlet}}
  <footer class="row">
    <ul class="social col-xs-8 col-md-4 col-md-offset-2">
      <li>
        Suivez notre compte Twitter !<br>
        {{follow-twitter}}
      </li>
      <li>
        Aimez notre page Facebook !<br>
        {{like-facebook}}
      </li>
    </ul>
    <ul class="col-xs-4 col-md-1 navigation">
      <li>{{#link-to "shares" }}Accueil{{/link-to}}</li>
      <li>{{#link-to "about" }}A propos{{/link-to}}</li>
      <li>{{#link-to "contact" }}Contact{{/link-to}}</li>
      <li>{{#link-to "credits" }}Crédits{{/link-to}}</li>
    </ul>
    <div class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-2 copyright">
      Retrouvez le code source du site sur <a href="https://github.com/dbachet/changeons-frontend">Github</a> - <a target="_blank" href="https://twitter.com/dbachet" alt="© 2015 Damien Bachet">© 2015 Damien Bachet</a>
    </div>
  </footer>
</div>