<div class="category-menu col-xs-12 col-md-8 col-md-offset-2">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 col-xs-12 not-expanded">
      <a href="" {{action "toggleCategoryMenu"}}>
        Catégories
        <span class="glyphicon glyphicon-triangle-bottom small"></span>
      </a>
    </div>
    {{#if categoryMenuExpanded}}
      <div class="col-md-2 col-md-offset-10 col-xs-12 expanded" {{action "toggleCategoryMenu"}}>
        <a href="" {{action "toggleCategoryMenu"}}>
          Catégories
          <span class="glyphicon glyphicon-triangle-top small"></span>
        </a>
        <br>
        {{category-label category="Alimentation" color="#f5841b" currentCategory=category}}<br>
        {{category-label category="Agriculture" color="#914e1b" currentCategory=category}}<br>
        {{category-label category="Environnement" color="#457d24" currentCategory=category}}<br>
        {{category-label category="Habitat" color="#64336e" currentCategory=category}}<br>
        {{category-label category="High-Tech" color="#57575c" currentCategory=category}}<br>
        {{category-label category="Politique" color="#2a82c5" currentCategory=category}}<br>
        {{category-label category="Santé" color="#e0717b" currentCategory=category}}<br>
      </div>
    {{/if}}
  </div>
</div>
<div class="clearfix visible-xs-block"></div>
<div class="clearfix visible-sm-block"></div>
<section id="shares" class="row">
  <ul class="col-md-8 col-md-offset-2">
    {{#each link in filteredArticles}}
      {{link-card link=link}}
    {{/each}}
  </ul>
</section>
{{outlet}}
